.delete {
    position: absolute;
    top: 0.1;
    right: 0;
    border-radius: 50%;
    padding: 8px;
  }
  .delete:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 2);
  }
  .block {
    width: 200px;
    border-radius: 10px;
    background: rgb(190, 143, 71);
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: 30px 10px auto;
  }
  .horizontalContainer {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;

  }
  .departmentData {
    width: 100%;
    box-sizing:  border-box;
    display: flex;
    flex-direction: row;
    align-items:  flex-start;
  }
  .navbarbutton {
    width: 100%;
    display: flex;
    margin: 30px 0px 0px 5px;
    justify-content: space-between;
    align-items: center;
  }
  .buttonContainer {
    align-items: center;
    width: 10%;
    margin-right: 5px;
  }
