table {
    border-collapse: collapse;
    border: 1px solid;
  }
th, td {
    padding: 10px;
    border: 1px solid;
  }
.MainPage {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.buttonCentred {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8%;
}

.tableContainer {
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}

.tableData {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin-left: 1%;
  align-items: flex-start;
}

.tableData > table {
  width: 90%;
}

.tableButtonContainer {
 width: 10%;
 margin-left: 10%;
 margin-right: 1%;
}

