form {
height: 60vh;
    width: 45%;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    border: solid;
  }
  label {
    color: #aaa;
 
    margin: 10px 0 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  input {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555;
  }
  button {
    width: 100%;
    margin: 30px 0px 5px;
  }
  .backdrop {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: no-warp;
    background-color: gray;
    justify-content: center;
    align-items: center;
    border: solid;

  }
  .NewUser {
    margin: 15px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }