form {
    width: 35%;
    height: 80%;
    background: white;
    border-radius: 30px;
    padding: 50%;

  }
  label {
    color: #aaa;
    display: inline-block;
    margin: 10px 0 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  input {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555;
  }
  button {
    width: 100%;
    margin: 30px 0px 5px;
  }
  .backdrop {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: no-warp;
    background-color: gray;

  }
  .NewUser {
    margin: 15px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }