form {
  height: 65vh;
  width: 45%;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  border: solid;
}

label {
  display: inline-block;
  color: #aaa;
  height: 5%;
  text-transform: uppercase;
  letter-spacing: 1px;


}

input {
  display: block;
  padding: 5px 7px;
  height: 9%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}

button {
  display: flex;
  width: 100%;
  margin: 30px 0px 5px;
  justify-content: center;
  
}

.backdrop {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-wrap: no-warp;
  background-color: gray;
  justify-content: center;
  align-items: center;
  border: solid;

}

.NewUser {
  margin: 15px 0px 20px 0px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
}

.labelClass {
  display: block;
  margin: 15px 8px 8px 7px;
}
.select {
  margin-bottom: 50px;
}