.navlink-left {
    display: flex;
    width: 8%;
    position: right;
    background-color: rgb(194, 106, 106);
    color: #fff;
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  