.delete {
    position: absolute;
    top: 0.1;
    right: 0;
    border-radius: 50%;
    padding: 8px;
  }
  .delete:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 2);
  }
  .block {
    width: 200px;
    border-radius: 10px;
    background: rgb(190, 143, 71);
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: 30px 10px auto;
  }
  .horizontal {
    display: flex;
  }