form {
    max-width: 530px;
    margin: 130px auto;
    background: white;
    text-align: left;
    padding: 40px;
    border-radius: 30px;
  }
  label {
    color: #aaa;
    display: inline-block;
    margin: 10px 0 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  input {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555;
  }
  button {
    width: 100%;
    margin: 30px 0px 5px;
  }
  .backdrop {
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  .NewUser {
    margin: 15px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }